{% extends "base.html" %} {% load static %} {% block content %}

<!-- Bookmark page content starts here -->
<div class="container-fluid">
    <section class="d-flex justify-content-center align-items-center h-100">
        <div class="row gy-2">
          {% for bookmark in bookmarked_books %}
          <div class="col-lg-4 col-md-4">
            <div class="box h-100 d-flex p4 flex-column">
              <!-- Bookmarked book cards -->
              <div class="card h-100">
                <img src="{{ bookmark.image.url }}" alt="{{ bookmark.title }}" class="card-img-top" id="img-size">
                <div class="card-body">
                  <h5>{{ bookmark.title | safe }}</h5>
                  <p>{{ bookmark.excerpt | safe }}</p>
                  {% if user.is_authenticated %}
                  <div class="d-flex justify-content-around align-items-center">
                    <!-- Buttons for card -->
                      <a href="{% url 'book_view' bookmark.slug %}" class="btn btn-secondary mt-auto">View book</a>
                      <a href="{% url 'read_book' slug=bookmark.slug %}" class="btn btn-secondary mt-auto">Read now</a>
                      <!-- Bookmark and un-bookmark  -->
                      <form action="{% url 'bookmark_book' slug=bookmark.slug %}" method="POST" class="mt-auto">
                          {% csrf_token %}
                          {% if bookmark.id in bookmarked_book_ids %}
                              <button type="submit" name="book_id" value="{{ bookmark.id }}" class="bookmark"><i class="fa-regular fa-bookmark fa-lg"></i></button>
                          {% else %}
                              <button type="submit" name="book_id" value="{{ bookmark.id }}" class="bookmark"><i class="fa-solid fa-bookmark fa-lg"></i></button>
                          {% endif %}
                      </form>
                  </div>
                  {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
    </section>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
</div>
<!-- Bookmark page content ends here -->


{% endblock content %}