{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
    
    <div class="row">
        <h2>{{ user }}</h2>
    </div>
    <div class="row">
        <h3><a href="{% url 'book_details' %}">Create new book</a></h3>
    </div>
    
    {% if user == request.user %}
    <div class="row">  
        <p><strong>Books you've written:</strong></p>
        {% for book in user_books %}
            <a href="{% url 'book_view' book.slug %}">
                <div class="row">
                        <img src="{{ book.image.url }}" alt="{{ book.title }}">
                    <p><strong>{{ book.title | safe }}</strong></p>
                    <p>{{ book.excerpt | safe }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="row">
        <h4>Books currently reading:</h4>
        <p>Books reading</p>
        <button><a href="">continue reading</a></button>
    </div>

    <div class="row">
        <p>Wishlist</p>
       <button><a href="{% url 'bookmarked' %}">View Bookmarks</a></button>
    </div>

    
    {% endif %}

    
</div>


{% endblock content %}