{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="container-fluid" id="homeContainer">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
  <br>
  <section class="homepage-container">
    <div class="banner-card">
      <img src="static/images/book_side.jpg" alt="Partial view of book covers">
      <div class="banner-text">
        <h3>From thoughts to pages - Inkpad is your space</h3>
        <p>Lets get you started then shall we?</p>
            {% if user.is_authenticated %}
              <a href="{% url 'browse' %}" class="btn btn-light">Browse books</a>
              <a href="{% url 'book_details' %}" class="btn btn-light">Create a book</a>
            {% else %}
              <a href="{% url 'account_signup' %}" class="btn btn-light">Log in </a>
            {% endif %}
      </div>
    </div>
  </section>

  <section>
    <div class="row" id="quotes">
      <div class="card text-center">
        <div class="card-header --bs-warning-bg-subtle w-100">
          <h2>Quotes</h2>
        </div>
        <div class="card-body" id="funFacts">
          <blockquote class="blockquote mb-0">
            {% for q in quotations %}
            <p>{{ q.quote }}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{ q.quote_author }}</cite></footer>
            <hr>
            {% endfor %}
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  
  
  <section>
    <div class="card" id="aboutUs">
      <div class="card-header --bs-warning-bg-subtle">
        <h2 class="text-center">About us</h2>
      </div>
      <div class="card-body text-center">
        <div class="row">
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Whats the purpose?</h5>
                <p class="card-text">We are Inkpad, an online website for upcoming authors. We give unpublished
                  and even published authors the oppurtunity to show the world whats in their
                  mind. We allow people to express themself with no limits (shout out to the ones
                  who write freaky books). But it's not just for those who wants to write,
                  Inkpad is for those who love to read.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Why make the website?</h5>
                <p class="card-text">
                  I'm gald you asked. Wattpad is no longer free, and since it's not I'm making my own version!
                </p>
                <p class="card-text">
                  On a more serious note... When I was younger I used to read Wattpad until 3/4am because I could never
                  afford to actually buy books (perks of being 13 with no job). So to see that
                  they are charging, upsets me because my love for books started with Wattpad.
                  So to charge for it stops the next generation having that same love.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  <section>
    <div class="card text-center bg-warning-bg-subtle">
      <div class="card-header">
        <h2>Fun Facts</h2>
      </div>
      <div class="card-body">
        {% for fun in fun_facts %}
        <p>{{ fun.fact }}</p>
        <hr>
        {% endfor %}
      </div>
      <div class="card-footer text-body-secondary">
      </div>
    </div>
  </section>

</div>

  {% endblock content %}
