{% extends "base.html" %} {% load static %} {% block content %}


    <div>

        <img src="{{ book_view.image }}" alt="{{ book_view.title }}" />
        <h3>{{ book_view.title | safe }}</h3>
        <p>{{ book_view.biography | safe }}</p>
        <!-- <button><a href="{% url 'browse' %}">Back</a></button> -->
        {% if user.is_authenticated %}
            <button><a href="#">Read now</a></button>
            <button><a href="#">Add to Wishlist</a></button>
            {% if book_view.author == request.user %}
                <button><a href="{% url 'add_chapter' book_view.slug %}">Add a chapter</a></button>
                <button><a href="{% url 'edit_book' book_view.slug book_view.pk %}">Edit book details</a></button>
                <button><a href="{% url 'delete_book' book_view.slug %}">Delete book</a></button>
            {% endif %}
            <button><a href="{% url 'view_book_chapters' book_view.slug %}">View Chapters</a></button>

        {% else %}
        <!-- Content to display if the user is not logged in -->
        {% endif %}

    </div>

{% endblock %}