{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid">
    <header>
        <h1 class="text-center">Browse our book selections</h1>
    </header>
    
    <div>
        <form action="{% url 'searchbar' %}" method="GET">
            <input type="text" name="search">
            <button type="submit">Search</button>
        </form>
    </div>

      
    <div class="row">
        {% for book in book_list %}
        <div class="col-sm-4 mb-3 text-center">
            <div class="card">
                <div class="card-body">
                    <img src="{{ book.image.url }}" alt="{{ book.title }}" class="card-img-top">
                    <h5 class="card-title">{{ book.title | safe }}</h5>
                    <p class="card-text">{{ book.excerpt | safe }}</p>
                    <a href="{% url 'book_view' book.slug %}" class="btn btn-primary">View book</a>
                    {% if user.is_authenticated %}
                        <a href="#" class="btn btn-primary">Read now</a>
                        <form action="{% url 'bookmark_book' slug=book.slug %}" method="POST">
                            {% csrf_token %}
                            {% if book.id in bookmarked_book_ids %}
                                <button type="submit" name="book_id" value="{{ book.id }}" class="btn btn-danger">UnBookmark</button>
                            {% else %}
                                <button type="submit" name="book_id" value="{{ book.id }}" class="btn btn-primary">Bookmark</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>


  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Prev">&laquo; Prev </a>
      {% endif %}
      </li>
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
      <li class="page-item">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">next &raquo;</a>
      {% endif %}
    
      </li>
    </ul>
  </nav>

<!-- MAke search bar bigger and centre  -->
<!-- make boxes align  -->
<!-- center pagination -->

<!-- index.html content ends here -->
{% endblock content %}