{% extends "base.html" %} {% load static %} {% block content %}

<div>
    <header>
        <h1>Browse our book selections</h1>
    </header>

      
    {% for book in book_list %}
    <div>
        <img src="{{ book.image | safe }}" alt="" />
        <h3>{{ book.title | safe }}</h3>
        <p>{{ book.excerpt | safe }}</p>
        <button><a href="{% url 'book_view' book.slug %}">View book</a></button>
    </div>
</div>
{% endfor %}


<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

<!-- index.html content ends here -->
{% endblock content %}