{% extends "base.html" %} {% load static %} {% block content %}



<div class="container-md">
    <div class="d-flex book-container justify-content-md-center">
        <div class="d-flex row justify-content-center">
            <div class="col-sm col-md-8 col-lg-8">
                <div id="bookContent">
                    {% for chapter in chapters %}
                        <div class="chapter text-center" id="chapter-{{ forloop.counter0 }}" >
                            <h2>{{ chapter.chapter | safe }}</h2>
                            <p>{{ chapter.content | safe }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button id="prevChapter" class="btn btn-secondary me-2">Previous Chapter</button>
                    <button id="nextChapter" class="btn btn-secondary ms-2">Next Chapter</button>
                </div>
            </div>
        </div>
        
    </div>
</div>


{% endblock content %}

<!-- Block for additional scripts -->
{% block additional_scripts %}
<script>
    // ------------- Read now.html

let currentChapterIndex = 0;
const chapters = document.querySelectorAll('.chapter');
const totalChapters = chapters.length;
const btnPrev = document.getElementById('prevChapter');
const btnNext = document.getElementById('nextChapter');

// Shows each chapter one at a time
function showChapter(index) {
    // Update visibility of chapters
    chapters.forEach((chapter, idx) => {
        chapter.style.display = idx === index ? 'block' : 'none';
    });

    // Update button visibility
    btnPrev.style.display = index > 0 ? 'block' : 'none';
    btnNext.style.display = index < totalChapters - 1 ? 'block' : 'none';
}

// Next button - won't show on last chapter
btnNext.addEventListener('click', function() {
    if (currentChapterIndex < totalChapters - 1) {
        currentChapterIndex++;
        showChapter(currentChapterIndex);
    }
});


// Previous button only show after 2nd chapter
btnPrev.addEventListener('click', function() {
    if (currentChapterIndex > 0) {
        currentChapterIndex--;
        showChapter(currentChapterIndex);
    }
});

// Initially show the first chapter and set button visibility
showChapter(currentChapterIndex);
window.scrollTo(0, 0);  // Scrolls to the top of the page


</script>
{% endblock %}
