{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}

<!-- Adding a chapter content starts here -->

<div class="container">
  <header class="d-flex justify-content-center">
    <h3>Add a chapter to your book</h3>
  </header>

  <!-- Add chapter form -->
  <div class="d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data" class="form-group">
        <div class="form-group">
            {% csrf_token %} {{ form | crispy }}
        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-secondary">
            Submit
          </button>
        </div>
            
        
    </form>
  </div>
</div>

<!-- Adding a chapter content ends here -->

  {% endblock content %}

