{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}

<!-- Create book details start here -->
<div class="container">
    <header>
        <h1 class="text-center">Create Your Book</h1>
        
    </header>

    <!-- Form for Book details -->
    <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" id="bookCreationForm" class="form-group">
            <div class="form-group">
                {% csrf_token %} {{ form | crispy }}
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-secondary">
                    Next
                </button>
            </div>
            
        </form>
    </div>
    
    
</div>
<!-- Create book details ends here -->
{% endblock content %}