{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
    <header>
        <h1 class="text-center">Create Your Book</h1>
        
    </header>

    <!-- Form for Book details -->
    <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" id="bookCreationForm" class="form-group">
            <div class="form-group">
                {% csrf_token %} {{ form.as_p }}
            </div>
                <button type="submit" id="submitAndNext">
                    Next
                </button>
            
        </form>
    </div>
    
    
</div>

{% endblock content %}