{% extends "base.html" %} {% load static %} {% block content %}

<div>
    <header>
        <h1>Your book has been updated!</h1>
    </header>
    {% for obj in books %}
        <div>
            <img src="{{ obj.image }}" alt="{{ obj.title }}" />
            <h3>{{ obj.title }}</h3>
            <p>{{ obj.excerpt }}</p>
            <p>{{ obj.biography }}</p>
            <p>{{ obj.pk }}</p>
            <button><a href="{% url 'add_chapter' book_slug=obj.slug %}">Add a chapter</a></button>
            <button><a href="{% url 'edit_book' slug=obj.slug pk=obj.pk %}">Edit book details</a></button>
            <button><a href="{% url 'delete_book' slug=obj.slug %}">Delete book</a></button>
        </div>
    {% endfor %}
</div>

{% endblock content %}