{% extends "base.html" %} {% load static %} {% block content %}

<div>
    <header>
        <h1>Your book has been updated!</h1>
    </header>

    <div>
        <img src="{{ latest_book.image }}" alt="" />
        <h3>{{ latest_book.title }}</h3>
        <p>{{ latest_book.excerpt }}</p>
        <p>{{ latest_book.biography }}</p>
        <button><a href="">Edit Book</a></button>
        <button><a href="{% url 'add_chapter' book_slug=latest_book.slug %}">Add another chapter</a></button>
    </div>
</div>

{% endblock content %}