{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <header class="d-flex justify-content-center">
    <h1>Edit {{ books.title }} Book </h1>
  </header>

  <div class="d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data" id="bookCreationForm" class="form-group">
        <div class="form-group">
            {% csrf_token %} {{ form }}
        </div>
            <button type="submit" id="submitAndNext">
              Update
            </button>
        
    </form>
  
  </div>

  {% endblock content %}
</div>