* {
    font-family: 'Montserrat', sans-serif;
}
/* ---------  For tags throughout HTML */

a {
    text-decoration: none;
    color: #484747;
    margin: 3px 2px;
}


button {
    margin: 10px;
}

/* ------image card sizes -----*/
#img-size {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* ----- Images in view_chapter.html -------*/

/* Bookmark page image */
#img-size-row {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card  {
    margin: 15px;
}

/* Image in card - view_chapter  */
#testingImg {
    height: 40%;
    margin: 20px;
}

/* Forms */

.form-control {
    margin: 8px;
    width: 95%;
}

/* ------- Base.html --------- */


html, body {
    height: 100%;
    margin: 0;
}

/* All of the content wrapper */
.body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Content on other html */
.content-wrapper {
    flex: 1;
}

/* Footer */
footer {
    position: sticky;
    width: 100%;
    height: auto;
}


/* --------- Index --------- */

/* Image */
.homepage-container{
    height: auto;
    max-width: 100%;
    
}

.homepage-container img {
    padding-right: 25px;
}

.banner-card{
    position: relative;
}

.banner-card img {
    width: 100vw;
    height: 80vh;
}

.banner-text{
    position: absolute;
    top: 80px;
    right: 0;
    color: #403e3e;
    padding: 100px;
}

.banner-text h4 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 5px;
}

.banner-text p {
    font-size: 20px;
}

/* Container for index */

#homeContainer {
    overflow: hidden;
}


/* About us section */
#aboutUs {
    padding-bottom: 30px;
}

/* quotes */

#quotes {
    margin: 0px 35px 0px 1px;
}

/* ------ Browse -------- */

/* Bookmark button */

.bookmark {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


/* Buttons  */

.button-container {
    display: flex;
}

/* ---------- Reading Book --------- */

#bookContent {
   object-fit: cover;
}

/* Buttons for next and prev content */
#prev-chapter,
#next-chapter {
    position: relative;
}

/* Login page */
.form-check .form-check-input {
    float: none;
}



/* ---------- -------- Media queries  */

/* For screens up to 1030px */

@media (max-width: 1030px) {

    /* Index page */
    .banner-text {
        position: absolute;
        top: 20%;
        left: 30%;
        padding: 100px 30px 100px 100px;
    }
}

@media (max-width: 400px) {
    /* Home page image text overlay */
    .banner-text {
        padding: 0px 12px 70px 55px;
    }

    .banner-text h3{
        font-size: 18px;
        font-weight: 300;
    }

    .banner-text p {
        font-size: 14px;
    }

    .banner-text a {
        font-size: 14px;
    }
}



/* ------------ Profile ------- */

/* Carousel */

.carousel-control-next,
.carousel-control-prev {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
